{% extends 'base.html' %}

{%  block content %}

  {% if user.is_authenticated %}  

  <h2>Graph 2 top 10 des pays avec le plus de ventes sans les UK</h2>
  <a class="btn btn-warning " href="{%  url 'graph2flop' %}">Voir graph 2 flop 10</a>
  <a class="btn btn-warning " href="{%  url 'graph2' %}">Voir graph 2</a>
  <hr>
  <div class="container">
    <div class="container-sm">
        <canvas id="myChart"></canvas>
      </div>
      
      
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for item in data %}"{{ item.country }}",{% endfor %}],
            datasets: [{
              label: 'répartition des ventes par région',
              data: [{% for item in data %}'{{ item.count }}',{% endfor %}],
              borderWidth: 1
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
  </div>
    <a class="btn btn-warning " href="{%  url 'graph1' %}">Voir graph 1</a>

    <a class="btn btn-warning " href="{%  url 'graph3' %}">Voir graph 3</a>

  {% else %}
  <h1>Vous devez être connecté pour avoir accès a cette page</h1>
  {% endif %}

{% endblock %}