{% extends 'base.html' %}

{%  block content %}
  {% if user.is_authenticated %}
  <div style="width: 1000px;">
      <canvas id="myChart"></canvas>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    
    <script>
      const ctx = document.getElementById('myChart');
    
      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['85123A', '22423', '85099B', '47566', '20725'],
          datasets: [{
            label: 'répartition des ventes par produit',
            data: [1315, 1272, 1049 , 1013, 830],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    </script>
    {% else %}
    <h1>Vous devez être connecté pour avoir accès a cette page</h1>
        
    {% endif %}

{% endblock %}