{% extends 'base.html' %}

{%  block content %}
  {% if user.is_authenticated %} 
  
  <h2>Graph 3</h2>
  <hr>
  <div style="width: 750px;">
          <canvas id="myChart"></canvas>
        </div>
        
        
  </body>
  </html>
  <script>
  const ctx = document.getElementById('myChart');
    
    new Chart(ctx, {
      type: 'radar',
      data : {
    labels: [
      '15036',
      '15056BL',
      '16161P',
      '20665',
      '20675'
    ],
    datasets: [{
      label: 'Australia',
      data: [30, 10, 90, 81, 56],
      fill: true,
      backgroundColor: 'rgba(255, 99, 132, 0.2)',
      borderColor: 'rgb(255, 99, 132)',
      pointBackgroundColor: 'rgb(255, 99, 132)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(255, 99, 132)'
    }, {
      label: 'USA',
      data: [50, 2, 20, 50, 105],
      fill: true,
      backgroundColor: 'rgba(54, 162, 235, 0.2)',
      borderColor: 'rgb(54, 162, 235)',
      pointBackgroundColor: 'rgb(54, 162, 235)',
      pointBorderColor: '#fff',
      pointHoverBackgroundColor: '#fff',
      pointHoverBorderColor: 'rgb(54, 162, 235)'
    }]
  }});
  </script>
  <a class="btn btn-warning " href="{%  url 'graph1' %}">Voir graph 1</a>

  <a class="btn btn-warning " href="{%  url 'graph2' %}">Voir graph 2</a>

{% else %}
<h1>Vous devez être connecté pour avoir accès a cette page</h1>
{% endif %}


{% endblock %}