{% extends 'base.html' %}

{%  block content %}
  {% if user.is_authenticated %}

  <h2>Graph 1 flop 10 des produits les moins vendus</h2>
  <hr>
  <a class="btn btn-warning " href="{%  url 'graph1' %}">Voir graph 1 top 10</a>
  <div class= "container">
    <div class="col md-5">
      
      <div class="container-sm">
        <canvas id="myChart"></canvas>
      </div>
      
      
      
      <script>
        const ctx = document.getElementById('myChart');
      
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: [{% for item in data %}"{{ item.stockcode }}",{% endfor %}], //stockcode 
            datasets: [{
              label: 'répartition des ventes par produit',
              data: [{% for item in data %}'{{ item.count }}',{% endfor %}], // nombre de vente de stockcode

              borderWidth: 2
            }]
          },
          options: {
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });
      </script>
      
    </div>
  </div>
    <a class="btn btn-warning " href="{%  url 'graph2' %}">Voir graph 2</a>

    <a class="btn btn-warning " href="{%  url 'graph3' %}">Voir graph 3</a>


  
    {% else %}
    <h1>Vous devez être connecté pour avoir accès a cette page</h1>
        
    {% endif %}

{% endblock %}