{% extends 'base.html' %}

{%  block content %}

    {% if user.is_authenticated %}
    <h1>Import csv</h1>
        <br><br>
        <form enctype="multipart/form-data" method="POST" action="">
            {% csrf_token %}
                <div class="input-group mb-3">
                {{ form.file }}
                <button class="btn btn-secondary" type="submit">Importer</button>
            </div>
        </form>
        <br><br>
        <a class="btn btn-warning " href="{%  url 'graph1' %}">Voir graph1</a>

        <a class="btn btn-warning " href="{%  url 'graph2' %}">Voir graph2</a>

        <a class="btn btn-warning " href="{%  url 'graph3' %}">Voir graph3</a>

    {% else %}
    <h1>Vous devez être connecté pour avoir accès a cette page</h1>
        
    {% endif %}

{% endblock %}